.thumbimg {
  max-width:50px;
}

.image-container{
  text-align: center;
}

.logo{
  width: 80%;
}

.top-content{
  position: relative;
  display: flex;
  flex: 0.3;
}

td, th{
  max-width: 250px;
}

.loading{
  width: 15px;
  vertical-align: middle;
}

.footer-text{
  vertical-align: text-top;
  font-weight: bold;
}